#PROD :
#DISCORD_TOKEN=//TOKEN//
#DEV :
DISCORD_TOKEN=//TOKEN//
#If sqlite
DB_LOCATION=./DB/bot.db
DISCORD_BOT_NAME=discordBotKernel
YOUTUBE_API_KEY=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_CHANNEL_NAME=
TWITCH_BOT_NAME=
TWITCH_AUTH=
TWITCH_COMMAND_GUILD_ID=
ALERT_POLL_CRON_TWITCH=* * * * *
ALERT_POLL_CRON_YOUTUBE=*/30 11-22 * * *
